nav{
    background-color: rgb(185, 210, 220);
    padding:10px;
}

nav img {
    width: 110px;
}
nav ul{
float: right;
list-style-type: none;
}
ul li{
    display: inline-block;
    padding: 10px;
}

li a{
    color: rgb(8, 8, 8);
    text-decoration:none; 
    cursor: pointer;
}
