<div class="h">
<h2 class="text-center" >Employee List</h2>
<br>

 <table class="table">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Email</th>
          <th scope="col">PhoneNo</th>
          <th scope="col" > Tab</th>
         
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employee of getemployees">
          
          <td>{{employee.id}} </td>
          <td>{{employee.firstName}}</td>
          <td>{{employee.lastName}}</td>
          <td>{{employee.email}}</td>
          <td>{{employee.phoneNo}}</td>
          <td>
            <button (click)="employeeDetails(employee.id)" class="btn btn-info" style="margin: 10px">View</button>
            <button (click)="updateEmployee(employee.id)" class="btn btn-secondary" style="margin: 10px">Edit</button>
            <button (click) ="deleteEmployee(employee.id)" class="btn btn-danger" style="margin: 10px ">Delete</button>

                
          </td>
  
        </tr>
        </tbody>
  </table>
  </div>

