<h3>Employee Details</h3>
<br>

<table class="table">
     <thead>
       <tr>
         <th scope="col">First Name</th>
         <td>{{employee.firstName}}</td>
     </tr>
     <tr>
         <th scope="col">Last Name</th> 
         <td>{{employee.lastName}}</td>
     </tr>
     <tr>
         <th scope="col">Email</th> 
         <td>{{employee.email}}</td>
     </tr>
     <tr>
         <th scope="col">Phone No</th>
         <td>{{employee.phoneNo}}</td>
       </tr>
     </thead>
   <br>
   <div class="button">
     <button (click) ="backToEmployeeList()" class="btn btn-primary" sty>Back</button>
</div>
