<app-header></app-header>
<div style="background-color: rgb(185, 210, 220)">
&nbsp; &nbsp;
<a routerLink="/employee-list" style="font-size:21px">List Employee</a>
&nbsp; &nbsp;<a routerLink="/add-employee" style="font-size: 21px">Add Employee</a>
&nbsp;
</div>
<router-outlet></router-outlet>
