<br>
<!-- <div class="bg-image" 
     style="background-image: url('assets/images/background.jpg');
            height:600px ;"> -->

<div class="col-md-6 offset-md-3 ">
<form (ngSubmit)="OnSubmit()" #f="ngForm">

 <div class="form-group">
    <label>First Name</label><br>
        <input type="text" class="form-control" minlength="3"  maxlength="15" id = "firstName" required
        pattern="[a-zA-Z][a-zA-Z ]+"
               [(ngModel)] = "employee.firstName" #firstName="ngModel" name = "firstName">
               <small class="help-block" *ngIf="!firstName.valid && firstName.touched">
                please enter valid name
               </small>
  
</div>
  <br>

<div class="form-group">
    <label>Last Name</label><br>
        <input type="text" class="form-control"  required minlength="2"  maxlength="15" id = "lastName"
        required pattern="[a-zA-Z][a-zA-Z ]+"
               [(ngModel)] = "employee.lastName"  #lastname="ngModel" name = "lastame">
               <small class="help-block" *ngIf="!lastname.valid && lastname.touched">please enter valid lastname
                and lastname must be atleast 2 characters long and maximum 20characters and
                Must be filled by a~z,A~Z.</small> 
  
</div>
<br>


<div class="form-group">
    <label>Email</label><br>
    <input type="email" class="form-control" maxlength="25" #email="ngModel" id = "email" required minlength="5" 
    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" 
       [(ngModel)] = "employee.email"  name = "email">
       <small class="help-block" *ngIf="!email.valid && email.touched">please enter valid email</small>
</div>
     
<br>
<div class="form-group">
    <label>Phone No</label><br>
        <input type="text" class="form-control" id = "phoneNo" required maxlength="10"
        pattern="[6789][0-9]{9}"
               [(ngModel)] = "employee.phoneNo" #phoneNo="ngModel" name = "phoneNo">
               <small class="help-block" *ngIf="!phoneNo.valid && phoneNo.touched">please enter valid phoneNo</small>

  
</div>
<br>
  <button class = "btn btn-success" type="submit" [disabled]="!f.valid"> Submit</button>


</form>
</div>

