<div class="col-md-6 offset-md-3">
    <form (ngSubmit)="OnSubmit()" #f="ngForm">
    
     <div class="form-group">
        <label>First Name</label><br>
            <input type="text" class="form-control" id = "firstName"
                   [(ngModel)] = "employee.firstName" name = "firstName">
      
    </div>
      <br>
    
    <div class="form-group">
        <label>Last Name</label><br>
            <input type="text" class="form-control" id = "lastName"
                   [(ngModel)] = "employee.lastName" name = "lastame">
      
    </div>
    <br>
    
    
    <div class="form-group">
        <label>Email</label><br>
            <input type="text" class="form-control" id = "email"
                   [(ngModel)] = "employee.email" name = "email">
      
    </div>
         
    <br>
    <div class="form-group">
        <label>Phone No</label><br>
            <input type="text" class="form-control" id = "phoneNo"
                   [(ngModel)] = "employee.phoneNo" name = "phoneNo">
      
    </div>
    <br>
      <button class = "btn btn-success" type="submit"> Submit</button>
    
    </form>
    </div>
